@model IEnumerable<Balam.Models.Quote>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GasolineIncluded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverIncluded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvisioningDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalculatedCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalculatedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetitionPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GasolineIncluded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverIncluded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvisioningDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalculatedCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalculatedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetitionPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
